stages:
  - build
  - deploy

variables:
  GIT_SUBMODULE_STRATEGY: recursive

docs:
  stage: build
  image: alpine:latest
  before_script:
    - apk add --no-cache doxygen graphviz ttf-freefont
  script:
    - doxygen Doxyfile
  artifacts:
    paths:
      - doxygen/html
    expire_in: 1 week
  only:
    - main
    - master
    - merge_requests

pages:
  stage: deploy
  image: alpine:latest
  script:
    - mv doxygen/html public
  artifacts:
    paths:
      - public
  only:
    - main
    - master
  needs:
    - docs
